## Option 1: Heroes of Pymoli

![Fantasy](../Images/Fantasy.jpg)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli. 

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

**Player Count**

* Total Number of Players

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli_Example.pdf) for a reference on expected format.

In [333]:
#import the necessary libraries
import os
import pandas as pd
import numpy as np
import json

In [334]:
#derive the input file paths
filepath = os.path.join("","purchase_data.json")

In [335]:
#construct the requried dataframes for the two json files
df = pd.read_json(filepath)

In [336]:
#display the head of both the dataframe
display(df.head(5))

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [337]:
#shape of the dataframes
display(df.shape)

(780, 6)

In [338]:
#datatypes of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.7+ KB

======================================================================================================================

**Player Count**

* Total Number of Players

In [339]:
# Total Number of Players
df['SN'].nunique()

573

In [340]:
pd.DataFrame({"Total Number of Players":df['SN'].nunique()},index=[0]).style.set_properties(**{'background-color': 'ash',
                           'color': 'blue',
                           'border-color': 'white'})

======================================================================================================================

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [341]:
# Number of Unique Items
df['Item ID'].nunique()

183

In [342]:
# Average Purchase Price
df['Price'].mean()

2.931192307692303

In [343]:
# Total Number of Purchases
len(df)

780

In [344]:
# Total Revenue
df['Price'].sum()

2286.3299999999963

In [345]:
pd.DataFrame({"Number of Unique Items":df['Item ID'].nunique(),
  "Average Purchase Price":df['Price'].mean(),
 "Total Number of Purchases":len(df),
"Total Revenue":df['Price'].sum()},index=[0]).style.set_properties(**{'background-color': 'ash',
                           'color': 'blue',
                           'border-color': 'white'})

======================================================================================================================

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [346]:
# get all the duplicate rows
display(df.loc[df.duplicated("SN",keep=False),:].sort_values("SN").head(10))
display(len(df.loc[df.duplicated("SN",keep=False),:]))

,Age,Gender,Item ID,Item Name,Price,SN
431,37,Male,92,Final Critic,1.36,Aduephos78
308,37,Male,79,"Alpha, Oath of Zeal",2.88,Aduephos78
377,37,Male,174,Primitive Blade,2.46,Aduephos78
647,26,Male,156,Soul-Forged Steel Shortsword,1.16,Aeduera68
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68
224,26,Male,106,Crying Steel Sickle,2.29,Aeduera68
529,38,Male,172,Blade of the Grave,1.69,Aelalis34
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
359,20,Male,32,Orenmir,4.95,Aeliriam77
637,20,Male,18,"Torchlight, Bond of Storms",1.77,Aeliriam77

375

In [347]:
# drop the duplicate SN rows to get gender propotions
df_unique = df.drop_duplicates("SN", keep='first')
len(df_unique)

573

In [348]:
pd.DataFrame({'Percentage of players' : df_unique['Gender'].value_counts(normalize=True),
   'Total Count' : df_unique['Gender'].value_counts()}).style.bar(color='#05668D')

======================================================================================================================

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals (purchase total and divide it by the total count)

In [349]:
summary_gender_purchasing = pd.DataFrame(df.groupby('Gender').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
summary_gender_purchasing.style.bar(color='#05668D')

======================================================================================================================

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [350]:
test = pd.DataFrame({'days': [0,31,45,60]})
test['range'] = pd.cut(test.days, [0,30,60,90], right=False)
test

# right : Indicates whether the bins include the rightmost edge or not. If
# right == True (the default), then the bins [1,2,3,4] indicate
# (1,2], (2,3], (3,4]

   days     range
0     0   [0, 30)
1    31  [30, 60)
2    45  [30, 60)
3    60  [60, 90)

In [351]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_labels = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
df['Age_Group'] = pd.cut(df['Age'], bins ,labels = age_labels,right=False)

In [352]:
summary_age = pd.DataFrame(df.groupby('Age_Group').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [353]:
summary_age.style.bar(color='#05668D')

======================================================================================================================

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [354]:
summary_spenders = pd.DataFrame(df.groupby(['SN']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [355]:
summary_spenders.sort_values(('Price','sum'),ascending=False)[:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

======================================================================================================================

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [359]:
summary_items = pd.DataFrame(df.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [361]:
summary_items.sort_values(('Item ID','count'),ascending=False)[0:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

======================================================================================================================

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [364]:
summary_items = pd.DataFrame(df.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [365]:
summary_items.sort_values(('Price','sum'),ascending=False)[0:5].style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

======================================================================================================================

### Observations

    As per the Game's purchasing data, Eighty-one percent of men made a purchase, compared to 17% of women indicating that the game is more popular among the male demographics. 

    Those consumers aged 20 to 24, remain the key age demographic for pymoli, spending more money than any other age group.
    
    Those consumers aged 40 and above remain the age group purchasing high value items.